{% load static %}
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Fale Conosco</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="form form-action" action="{% url 'home' %}" method="POST">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" name="nome" type="text" placeholder="Seu nome *" />
                                <!--div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div-->
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" name="email" id="email" type="email" placeholder="Seu E-mail *" required/>
                                <!--div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div-->
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" name="telefone" id="phone" type="tel" placeholder="Seu telefone *" required />
                                <!--div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" name="mensagem" id="message" placeholder="Sua mensagem aqui *"></textarea>
                                <!--div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div-->
                            </div>
                        </div>
                        {% csrf_token %}
                    </div>
                    <div class="text-center"><button class="btn btn-primary" id="submitButton" type="submit">Enviar Mensagem</button></div>
                </form>
            </div>
        </section>